.btn {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    text-transform: capitalize;
    border: 1px solid transparent;
    cursor: pointer;
    background: transparent;
    transition: all .5s ease-in-out;

    &:focus {
        outline: none;
    }

    &.btn_main {
        color: rgba(var(--color_white), 1);
        background-color: rgba(var(--color_main), 1);

        &:hover {
            background-color: rgba(var(--color_main), .7);
        }
    }

    &.btn_main_outline {
        padding: .8rem 3.6rem;
        border: 1px solid rgba(var(--color_main), 1);
    }
}

@media only screen and (min-width: 992px) {
    .btn {
        &.btn_mobile {
            display: none;
        }
    }
}
