.btn {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 1.6rem;
    border-radius: 1rem;
    text-transform: capitalize;
    border: 1px solid transparent;
    cursor: pointer;
    background: transparent;
    transition: all .5s ease-in-out;

    &:focus {
        outline: none;
    }

    &.btn_mobile {
        font-size: 2.8rem;
        color: rgba(var(--color_black), 1);
    }

    &.btn_main {
        color: rgba(var(--color_white), 1);
        background-color: rgba(var(--color_main), 1);

        &:hover {
            background-color: rgba(var(--color_main), .8);
        }
    }

    &.btn_main_outline {
        padding: .8rem 3.6rem;
        border: 1px solid rgba(var(--color_main), 1);
    }

    &.btn_actions {
        font-size: 2.3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &.btn_heart {
            font-size: 3rem;
            color: rgba(var(--color_main), 1);
        }
    }

    &.btn_add_cart {
        width: 30rem;
        padding: 1.3rem 1.6rem;
        margin: 1.6rem auto 0 auto;
    }

    &.btn_search {
        .mdi {
            &::before {
                font-size: 2.4rem;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .btn {
        &.btn_mobile {
            display: none;
        }
    }
}
