.container {
    width: 90%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex_item {
    display: flex;
    flex-wrap: wrap;
}

.justify_center {
    justify-content: center;
}

.items_center {
    align-items: center;
}

.w_33 {
    flex: 0 0 33.333333333333%;
    max-width: 33.333333333333%;
}

.w_50 {
    flex: 0 0 50%;
    max-width: 50%;
}

.w_66 {
    flex: 0 0 66.666666666666%;
    max-width: 66.666666666666%;
}
