.container {
    width: 90%;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex_item {
    display: flex;
    flex-wrap: wrap;

    > * {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        margin-bottom: 1.6rem;
    }
}

.d_none {
    display: none;
}

.justify_center {
    justify-content: center;
}

.items_center {
    align-items: center;
}

.w_25 {
    flex: 0 0 auto;
    width: 25%;
}

.w_33 {
    flex: 0 0 auto;
    width: 33.333333333333%;
}

.w_50 {
    flex: 0 0 auto;
    width: 50%;
}

.w_66 {
    flex: 0 0 auto;
    width: 66.666666666666%;
}

.w_full {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .d_lg_block {
        display: block;
    }
    .w_lg_25 {
        flex: 0 0 auto;
        width: 25%;
    }
    .w_lg_33 {
        flex: 0 0 auto;
        width: 33.333333333333%;
    }

    .w_lg_50 {
        flex: 0 0 auto;
        width: 50%;
    }
    .w_lg_66 {
        flex: 0 0 auto;
        width: 66.666666666666%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}
