* {
    font-family: 'Satoshi', sans-serif;
    font-size: 10px;
    color: rgba(var(--color_white), 1);
    font-weight: 300;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color_main: 171, 87, 45;
    --color_dark_black: 0, 0, 0;
    --color_black: 38, 37, 35;
    --color_white: 255, 255, 255;
    --color_blue: 19, 208, 227;
}

body {
    background-color: rgba(var(--color_dark_black), 1);
}

a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.inner_text {
    font-size: 2.4rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: rgba(var(--color_white), .7);

    p {
        color: inherit;
        font-size: inherit;
    }
}

.section_img {
    height: 57rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.content_box {
    padding: 8rem 5rem;
}

.breadcrumb {
    display: flex;
    padding: 2rem 0;
    gap: 1rem;

    li {
        position: relative;
        font-size: 2rem;
        padding: 0 1rem;
        font-weight: 400;
        transition: all .3s ease;

        &:not(:last-child) {
            &:hover {
                color: rgba(var(--color_main), 1);
            }

            &::after {
                position: absolute;
                color: rgba(var(--color_white), 1);
                content: "\\";
                font-size: 2rem;
                right: 0;
                transform: translateX(100%);
            }

        }

        &:last-child {
            color: rgba(var(--color_main), .9);
            font-weight: 500;
        }
    }
}
