* {
    font-family: "Nunito Sans", sans-serif;
    font-size: 10px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color_main: 171, 87, 45;
    --color_dark_black: 0, 0, 0;
    --color_black: 38, 37, 35;
    --color_white: 255, 255, 255;
    --color_blue: 19, 208, 227;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: rgba(var(color_black), 1);
}


::-webkit-scrollbar-thumb {
    background: rgba(var(--color_main), 1);
}


::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color_main), .8);
}

a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.section_padding {
    padding-top: 5rem;
}

.inner_text {
    font-size: 2.4rem;
    padding: 1rem 0;
    margin-bottom: 1rem;

    p {
        color: inherit;
        font-size: inherit;
    }
}

.form_control {
    border: 1px solid rgba(var(--color_main), 1);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: .8rem;

    &:focus {
        outline: none;
    }
}

.section_img {
    height: 57rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.content_box {
    padding: 8rem 5rem;
}

.breadcrumb {
    display: flex;
    padding: 2rem 0;
    gap: 1rem;

    li {
        position: relative;
        font-size: 2rem;
        font-weight: 500;
        padding: 0 1rem;
        transition: all .3s ease;

        &:not(:last-child) {
            &:hover {
                color: rgba(var(--color_main), 1);
            }

            &::after {
                position: absolute;
                color: rgba(var(--color_dark_black), 1);
                content: "\\";
                font-size: 2rem;
                right: 0;
                transform: translateX(100%);
            }

        }

        &:last-child {
            color: rgba(var(--color_main), .9);
            font-weight: 500;
        }
    }
}

.social_networks {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;

    li {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: rgba(var(--color_white), 1);

        i {
            flex-shrink: 0;
        }
    }

    .twitter {
        background-color: rgba(29, 161, 242, 1);
    }

    .facebook {
        background-color: rgba(59, 89, 152, 1);
    }

    .linkedin {
        background-color: rgba(0, 119, 181, 1);
    }

    .instagram {
        background-color: rgba(193, 53, 132, 1);
    }
}

@media only screen and (max-width: 768px) {
    .inner_text {
        font-size: 2rem;
    }
    .content_box {
        padding: 2rem 0;
    }
}
