@import "../fonts/nunito_sans/nunito_sans.css";
@import "./partial/_default.scss";
@import "./partial/_container.scss";
@import "./partial/_headers.scss";
@import "./partial/_cards.scss";
@import "./partial/_buttons.scss";


header {
    width: 100%;
    z-index: 2;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: block;
            width: 10rem;

            img {
                width: 100%;
            }
        }

        .nav-menu {
            display: flex;
            align-items: center;
            gap: 1.6rem;

            .nav-item {
                font-size: 1.6rem;
                font-weight: 700;
                transition: all .5s ease-in-out;

                &:hover {
                    color: rgba(var(--color_main), 1);
                }
            }
        }

        .right-nav {
            .lang_box {
                position: relative;

                .active_lang {
                    display: flex;
                    align-items: center;
                    font-size: 1.8rem;
                    gap: 1rem;
                    font-weight: 500;
                }

                .lang_items {
                    position: absolute;
                    background-color: rgba(var(--color_white), 1);
                    border-radius: .5rem;
                    z-index: 1;
                    box-shadow: rgba(var(--color_dark_black), .5) 0 .8rem 2.4rem;
                    transform-origin: top;
                    transition: all .3s ease-in-out;
                    transform: scaleY(0);

                    &.active {
                        transform: scaleY(1);
                    }

                    .lang_item {
                        a {
                            display: block;
                            font-size: 1.6rem;
                            font-weight: 400;
                            padding: 1rem;
                            text-transform: capitalize;

                            &:hover {
                                color: rgba(var(--color_white), 1);
                                background-color: rgba(var(--color_main), 1)
                            }
                        }
                    }
                }
            }

        }
    }
}

.banner_section {
    .banner_block {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;

        .flex_item {
            align-items: center;
            height: 100vh;

            .inner_text {
                p {
                    color: rgba(var(--color_white), 1);
                }
            }
        }
    }
}

.about_section {
    .about_box {
        position: relative;
        background: url(../images/backgrounds/bg-1.png) no-repeat center center;
        background-size: cover;
        padding: 10rem 0;

        .inner_text {
            color: rgba(var(--color_white), .7);
        }

        .flex_item {
            position: relative;
            z-index: 1;
        }
    }
}

.values_section {
    .content_box {
        .inner_text {
            font-size: 2rem;
        }
    }
}


.best_selling {
    padding: 5rem 0;
}

.filter_box {
    display: flex;
    align-items: center;
    gap: 2rem;

    * {
        font-size: 1.6rem;
    }

    .filter_list {
        display: flex;
        align-items: center;
        gap: 3rem;

        .filter_item {
            position: relative;

            .active_filter {
                cursor: pointer;
            }

            .filter_buttons {
                position: absolute;
                width: max-content;
                left: 0;
                top: 2.5rem;
                border: 1px solid rgba(var(--color_main), 1);
                border-radius: .8rem;
                transform-origin: top;
                transition: all .5s ease-in-out;
                transform: scaleY(0);

                &.active {
                    transform: scaleY(1);
                }

                .btn {
                    &.btn_filter {
                        display: block;
                        width: 100%;
                        padding: .8rem 1rem;
                        border-radius: .8rem;

                        &:hover, &.selected {
                            background: rgba(var(--color_main), 1);
                        }
                    }
                }
            }
        }
    }
}

.products_section .flex_item {
    padding: 2rem 0;
}


.collection_row {
    display: flex;

    &:first-child {
        width: 40%;
    }

    &:nth-child(2) {
        width: 60%;
    }

    &:nth-child(3),
    &:nth-child(4) {
        width: 50%;
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
        width: 33.33333333%;
    }

    a {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .banner_section {
        .banner_block {
            .flex_item {
                height: auto;
            }
        }

    }
    .collection_row {
        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7) {
            width: 100%;
        }
    }
}

.sale_item {
    display: flex;
    align-items: center;
    height: 55rem;
    background: url(../images/backgrounds/bg-2.jpg) no-repeat center center;
    background-size: 100% 100%;
    padding: 0 2rem 0 3.5rem;

    .inner_text {
        color: rgba(var(--color_white), .7);
    }
}

.articles_section {
    padding: 3rem 0;
}
