@import "../fonts/nunito_sans/nunito_sans.css";
* {
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color_main: 171, 87, 45;
  --color_dark_black: 0, 0, 0;
  --color_black: 38, 37, 35;
  --color_white: 255, 255, 255;
  --color_blue: 19, 208, 227;
}

body.scrolling {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(var(color_black), 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--color_main), 1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--color_main), 0.8);
}

a, span {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.section_padding {
  padding-top: 5rem;
}

.inner_text {
  font-size: 2.4rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.inner_text p {
  color: inherit;
  font-size: inherit;
}

.form_control {
  border: 1px solid rgba(var(--color_main), 1);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 0.8rem;
}
.form_control:focus {
  outline: none;
}
.form_control.count_control {
  max-width: 5rem;
  padding-left: 1.9rem;
  padding-right: 0;
  -moz-appearance: textfield;
  border: none;
}
.form_control.count_control::-webkit-outer-spin-button, .form_control.count_control::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.section_img {
  height: 57rem;
}
.section_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_box {
  padding: 8rem 5rem;
}

.breadcrumb {
  display: flex;
  padding: 2rem 0;
  gap: 1rem;
}
.breadcrumb li {
  position: relative;
  font-size: 2rem;
  font-weight: 500;
  padding: 0 1rem;
  transition: all 0.3s ease;
}
.breadcrumb li:first-letter {
  text-transform: uppercase;
}
.breadcrumb li:not(:last-child):hover {
  color: rgba(var(--color_main), 1);
}
.breadcrumb li:not(:last-child)::after {
  position: absolute;
  color: rgba(var(--color_dark_black), 1);
  content: "\\";
  font-size: 2rem;
  right: 0;
  transform: translateX(100%);
}
.breadcrumb li:last-child {
  color: rgba(var(--color_main), 0.9);
  font-weight: 500;
}

.social_networks {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}
.social_networks li {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgba(var(--color_white), 1);
}
.social_networks li i {
  flex-shrink: 0;
}
.social_networks .twitter {
  background-color: rgb(29, 161, 242);
}
.social_networks .facebook {
  background-color: rgb(59, 89, 152);
}
.social_networks .linkedin {
  background-color: rgb(0, 119, 181);
}
.social_networks .instagram {
  background-color: rgb(193, 53, 132);
}

@media only screen and (max-width: 768px) {
  .inner_text {
    font-size: 2rem;
  }
  .content_box {
    padding: 2rem 1.6rem;
  }
  .breadcrumb li {
    font-size: 1.6rem;
  }
  .breadcrumb li:not(:last-child)::after {
    font-size: 1.6rem;
  }
}
.container {
  width: 90%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex_item {
  display: flex;
  flex-wrap: wrap;
}
.flex_item > * {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-bottom: 1.6rem;
}

.d_none {
  display: none;
}

.flex {
  display: flex;
}

.justify_between {
  justify-content: space-between;
}

.justify_center {
  justify-content: center;
}

.items_center {
  align-items: center;
}

.w_25 {
  flex: 0 0 auto;
  width: 25%;
}

.w_33 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.w_50 {
  flex: 0 0 auto;
  width: 50%;
}

.w_66 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.w_full {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .flex_item > * {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  .w_md_50 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .d_lg_block {
    display: block;
  }
  .w_lg_20 {
    flex: 0 0 auto;
    width: 20%;
  }
  .w_lg_25 {
    flex: 0 0 auto;
    width: 25%;
  }
  .w_lg_33 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .w_lg_40 {
    flex: 0 0 auto;
    width: 40%;
  }
  .w_lg_60 {
    flex: 0 0 auto;
    width: 60%;
  }
  .w_lg_50 {
    flex: 0 0 auto;
    width: 50%;
  }
  .w_lg_66 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
}
.banner_title {
  font-size: 6rem;
  text-transform: capitalize;
  color: rgba(var(--color_white), 0.8);
  font-weight: 500;
}

.section_title {
  font-size: 5rem;
  font-weight: 500;
  color: rgba(var(--color_main), 1);
  padding-bottom: 2.5rem;
}
.section_title.white {
  color: rgba(var(--color_white), 1);
}

.product_title {
  font-size: 4rem;
  font-weight: 600;
}

.footer_title {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.footer_title.fs_24 {
  font-size: 2.4rem;
}

.text_center {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .banner_title {
    font-size: 3.5rem;
  }
  .section_title {
    font-size: 3rem;
  }
}
.product_card {
  border-radius: 1rem;
  text-align: center;
  padding: 1.6rem 0;
  transition: all 0.2s ease-in;
  border: 1px solid rgba(var(--color_main), 1);
}
.product_card * {
  font-size: 2rem;
}
.product_card .thumbnail {
  overflow: hidden;
}
.product_card .thumbnail img {
  max-width: 25rem;
  height: 36rem;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in;
}
.product_card .card_body .p_title {
  color: rgba(var(--color_black), 1);
  font-weight: 600;
  transition: all 0.5s ease-in;
}
.product_card .card_body .price_body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.product_card .card_body .price_body .p_price span {
  font-weight: 500;
  color: rgba(var(--color_main), 1);
}
.product_card .card_body .quantity {
  color: rgba(var(--color_black), 1);
  font-weight: 500;
}
.product_card:hover .p_title {
  color: rgba(var(--color_main), 1);
}
.product_card:hover .thumbnail img {
  transform: scale(1.1);
}

.collection_item {
  position: relative;
  width: 100%;
  height: 46rem;
  padding: 1rem;
  background-size: 100% 100%;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s ease;
}
.collection_item .brand_title {
  position: absolute;
  font-size: 4rem;
  font-weight: 600;
  color: rgba(var(--color_main), 1);
  left: 50%;
  top: 50%;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
}
.collection_item .overlay {
  opacity: 0;
}
.collection_item:hover .overlay {
  opacity: 0.7;
}
.collection_item:hover .brand_title {
  transform: translate(-50%, -50%) scale(1);
}

.blog_card {
  margin-bottom: 2rem;
}
.blog_card .blog_title {
  font-size: 2rem;
  min-height: 10.2rem;
  font-weight: 500;
  padding-top: 2rem;
  transition: all 0.5s ease-in;
}
.blog_card .blog_title:hover {
  color: rgba(var(--color_main), 1);
}
.blog_card .blog_body .inner_text {
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  text-transform: capitalize;
  border: 1px solid transparent;
  cursor: pointer;
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.btn:focus {
  outline: none;
}
.btn.btn_main {
  color: rgba(var(--color_white), 1);
  background-color: rgba(var(--color_main), 1);
}
.btn.btn_main:hover {
  background-color: rgba(var(--color_main), 0.8);
}
.btn.btn_main_outline {
  padding: 0.8rem 3.6rem;
  border: 1px solid rgba(var(--color_main), 1);
}
.btn.btn_actions {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.btn_actions svg {
  pointer-events: none;
}
.btn.btn_add_cart {
  width: 30rem;
  padding: 1.3rem 1.6rem;
  margin: 1.6rem auto 0 auto;
}

@media only screen and (min-width: 992px) {
  .btn.btn_mobile {
    display: none;
  }
}
header {
  width: 100%;
  z-index: 2;
}
header .overlay {
  opacity: 0;
  pointer-events: none;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .logo {
  display: block;
  width: 13rem;
  flex-shrink: 0;
}
header .navbar .logo img {
  width: 100%;
}
header .navbar .nav-menu {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  flex-shrink: 0;
}
header .navbar .nav-menu .mobile_header {
  display: none;
}
header .navbar .nav-menu .nav-item {
  font-size: 1.6rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}
header .navbar .nav-menu .nav-item:first-letter {
  text-transform: uppercase;
}
header .navbar .nav-menu .nav-item:hover {
  color: rgba(var(--color_main), 1);
}
header .navbar .right-nav {
  display: flex;
  align-items: center;
}
header .navbar .right-nav .lang_box {
  position: relative;
}
header .navbar .right-nav .lang_box .active_lang {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1rem;
  font-weight: 500;
}
header .navbar .right-nav .lang_box .lang_items {
  position: absolute;
  background-color: rgba(var(--color_white), 1);
  border-radius: 0.5rem;
  z-index: 1;
  box-shadow: rgba(var(--color_dark_black), 0.5) 0 0.8rem 2.4rem;
  transform-origin: top;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
}
header .navbar .right-nav .lang_box .lang_items.active {
  transform: scaleY(1);
}
header .navbar .right-nav .lang_box .lang_items .lang_item a {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem;
  text-transform: capitalize;
}
header .navbar .right-nav .lang_box .lang_items .lang_item a:hover {
  color: rgba(var(--color_white), 1);
  background-color: rgba(var(--color_main), 1);
}

.banner_section .banner_block {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.banner_section .banner_block .flex_item {
  align-items: center;
  height: 100vh;
}
.banner_section .banner_block .flex_item .inner_text p {
  color: rgba(var(--color_white), 1);
}

.about_section .about_box {
  position: relative;
  background: url(../images/backgrounds/bg-1.png) no-repeat center center;
  background-size: cover;
  padding: 10rem 0;
}
.about_section .about_box .inner_text {
  color: rgba(var(--color_white), 0.7);
}
.about_section .about_box .flex_item {
  position: relative;
  z-index: 1;
}

.values_section .content_box .inner_text {
  font-size: 2rem;
}

.best_selling {
  padding: 5rem 0;
}

.filter_box.flex_item {
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.filter_box.flex_item * {
  font-size: 1.6rem;
  font-weight: 500;
}
.filter_box.flex_item .filter_list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.filter_box.flex_item .filter_list .filter_item {
  position: relative;
}
.filter_box.flex_item .filter_list .filter_item .active_filter {
  cursor: pointer;
}
.filter_box.flex_item .filter_list .filter_item .filter_buttons {
  position: absolute;
  width: max-content;
  left: 0;
  top: 2.5rem;
  box-shadow: rgba(var(--color_dark_black), 0.5) 0 0.8rem 2.4rem;
  border-radius: 0.5rem;
  background-color: rgba(var(--color_white), 1);
  transform-origin: top;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: translate(-15%, 25%);
}
.filter_box.flex_item .filter_list .filter_item .filter_buttons.active {
  opacity: 1;
  transform: translate(-15%, 5%);
}
.filter_box.flex_item .filter_list .filter_item .filter_buttons .btn.btn_filter {
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.8rem;
}
.filter_box.flex_item .filter_list .filter_item .filter_buttons .btn.btn_filter:hover, .filter_box.flex_item .filter_list .filter_item .filter_buttons .btn.btn_filter.selected {
  border-radius: 0;
  background: rgba(var(--color_main), 1);
  color: rgba(var(--color_white), 1);
}

.products_section .flex_item {
  padding: 2rem 0;
}

.collection_row {
  display: flex;
}
.collection_row:first-child {
  width: 40%;
}
.collection_row:nth-child(2) {
  width: 60%;
}
.collection_row:nth-child(3), .collection_row:nth-child(4) {
  width: 50%;
}
.collection_row:nth-child(5), .collection_row:nth-child(6), .collection_row:nth-child(7) {
  width: 33.33333333%;
}
.collection_row a {
  display: block;
  width: 100%;
}

footer {
  padding: 3rem 0;
}
footer .form_control {
  width: 100%;
}
footer .footer_top {
  border-top: 1px solid rgba(var(--color_main), 1);
  padding-bottom: 1.5rem;
}
footer .footer_logo {
  max-width: 14rem;
}
footer .footer_widget .inner_text {
  font-size: 1.6rem;
}
footer .copyright {
  font-size: 1.6rem;
  font-weight: 500;
}

.footer_list li {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1.3rem;
  transition: all 0.3s ease-in-out;
}
.footer_list li:hover {
  color: rgba(var(--color_main), 1);
}

.sale_item {
  display: flex;
  align-items: center;
  height: 55rem;
  background: url(../images/backgrounds/bg-2.jpg) no-repeat center center;
  background-size: 100% 100%;
  padding: 0 2rem 0 3.5rem;
}
.sale_item .inner_text {
  color: rgba(var(--color_white), 0.7);
}

.articles_section {
  padding: 3rem 0;
}

@media only screen and (max-width: 768px) {
  .banner_section .banner_block .flex_item {
    height: auto;
  }
  .collection_row:first-child, .collection_row:nth-child(2), .collection_row:nth-child(3), .collection_row:nth-child(4), .collection_row:nth-child(5), .collection_row:nth-child(6), .collection_row:nth-child(7) {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  header .logo {
    max-width: 11rem;
  }
  header .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
  header .navbar {
    position: relative;
  }
  header .navbar .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    background: rgba(var(--color_white), 1);
    width: 100%;
    padding: 0 1.6rem;
    z-index: 2;
    height: 100vh;
    top: 0;
    transform: translate(-106%, 0);
    transition: all 0.5s;
  }
  header .navbar .nav-menu .mobile_header {
    position: relative;
    display: flex;
    width: 100%;
  }
  header .navbar .nav-menu .mobile_header .btn_close {
    position: absolute;
    top: 1.6rem;
    right: 0;
    color: rgba(var(--color_main), 1);
  }
  header .navbar .nav-menu.active {
    transform: translate(-6%, 0);
  }
}
.detail_glide .glide__bullets {
  bottom: 0;
  transform: translate(-50%, 25%);
}
.detail_glide .glide__bullets .glide__bullet {
  width: 6rem;
  height: 6rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
}
.detail_glide .glide__bullets .glide__bullet.glide__bullet--active {
  border: 1px solid rgba(var(--color_main), 1);
}
.detail_glide .glide__bullets .glide__bullet img {
  height: 100%;
  object-fit: cover;
  margin-inline: auto;
}

.detail_content .inner_text {
  font-size: 1.8rem;
}
.detail_content .product_price_wrap {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.detail_content .product_price_wrap .price {
  font-size: 2.3rem;
  font-weight: 700;
}
.detail_content .product_price_wrap .price.old_price {
  text-decoration: 0.18rem line-through solid gray;
  color: rgba(var(--color_dark_black), 0.6);
}
.detail_content .product_price_wrap .price.discount {
  color: rgba(var(--color_main), 1);
}

.left_actions {
  border: 1px solid rgba(var(--color_main), 1);
}

.left_actions, .right_actions {
  margin-top: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
